@import "tailwindcss";

/* font classes */
.font-grotesk {
    font-family: "Space Grotesk", sans-serif;
}
.font-inter{
    font-family: 'Inter', sans-serif;      
}

/* color classes */
.color-grey{
    color: #898889;
}

/* background color classes */
.bg-input{
    background-color: #222222;
}
.bg-root{
    background-color: #1E1E1E;
}
.bg-soft-cream-shade{
    background-color: #faf4eb;
}

/* border classes */
.border-gradient-yellow  {
    background: linear-gradient(#1D1D1F, #1D1D1F) padding-box,
                linear-gradient(to right, #A9A5FD, #EBD75C) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
}
.border-gradient-blue  {
    background: linear-gradient(#1D1D1F, #1D1D1F) padding-box,
                linear-gradient(to right, #EBD75C, #A9A5FD) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
}

/* input classes */
.input-btn-size{
    width: 340px;
    height: 52px;
}